/* .navbar */
.navbar {
    background-color: rgb(245, 234, 235) !important;
    
}
.navbar-nav .nav-link.active{
    background-color: white; 
}
.slider_section{
    background-color: pink;
}
.bg-slideshow{
    background-color: pink;
}
/* ebd .navbar */
/* .shop_section */
.shop_section .box {
    background-color: #eeeeee;
    position: relative;
    padding: 10px;
    margin-top: 25px;
}
.shop_section .box .new {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    display: flex;
    border-radius: 100%;
    font-size: 15px;
}
.new p{
    margin: 14px 10px;
}
/* end .shop_section */
.shop_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
}
.box-1{
    background-color: rgb(59, 226, 226);
    height: 475px !important;
}
.active:hover.btn{
    background-color: #ffffff;
    color: black;
}
.active_1:hover.btn{
    background-color: rgb(59, 226, 226);

}
.box_row .row .box{
    margin-top: 40px;
    background-color: #f9f8f7;
    padding: 25px;
    border-radius: 5px;
    height: 200px; 
}
.box_row .row .box img{
    width: 70px;
}
.box-2{
    background-color: #6929a5;
    height: 600px !important;
}
.active:hover.btn{
    background-color: #ffffff;
    color: black;
}